In [ ]:
# https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/

In [45]:
import os
import glob
import pandas as pd
import datetime as dt

---
### Read the orginal source data

In [2]:
# change the directory to the directory that contains the orginal data set from citi Bike
os.chdir("./Data/New York Data")

In [3]:
# build a list of all the data files.  All the CSV files in this folder must be data files.  There can not be any other CSV file
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
all_filenames

['202201-citibike-tripdata.csv',
 '202202-citibike-tripdata.csv',
 '202203-citibike-tripdata.csv',
 '202204-citibike-tripdata.csv',
 '202205-citibike-tripdata.csv',
 '202206-citbike-tripdata.csv',
 '202207-citbike-tripdata.csv',
 '202208-citibike-tripdata.csv',
 '202209-citibike-tripdata.csv',
 '202210-citibike-tripdata.csv',
 '202211-citibike-tripdata.csv',
 '202212-citibike-tripdata.csv',
 'combined_csv.csv']

---
### Clean "na" and write out 1% files

In [4]:
# Clean the data and randomly select 1% of the records

for f in all_filenames:
      #file_one = os.path.join(f) 
      a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
      b = a.dropna()                                              # drop na's
      c = b.sample(frac=0.01, replace=True, random_state=1)       # random 1% sample
      file_one = os.path.join('.', 'New York Data 1Prct', f)      # Write the files out to a new directory with the same name
      c.to_csv( file_one, index=False, encoding='utf-8-sig')      # write the file

C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV
C:\Users\jspinega\AppData\Local\Temp\ipykernel_26484\3583892385.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv(f, encoding="utf-8")                        # read in CSV

---
### Combine the 1% files

In [13]:
# change the directory to where the cleaned 1% files are located
os.chdir("../New York Data 1Prct")

# build a list of the 1% files
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
all_filenames

['202201-citibike-tripdata.csv',
 '202202-citibike-tripdata.csv',
 '202203-citibike-tripdata.csv',
 '202204-citibike-tripdata.csv',
 '202205-citibike-tripdata.csv',
 '202206-citbike-tripdata.csv',
 '202207-citbike-tripdata.csv',
 '202208-citibike-tripdata.csv',
 '202209-citibike-tripdata.csv',
 '202210-citibike-tripdata.csv',
 '202211-citibike-tripdata.csv',
 '202212-citibike-tripdata.csv']

In [36]:
#combine all the 1% iles in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

# Export to csv the combined data set.
# This data set contains a stratisfied sample of 1% of all the rides that were recored in 2022. 
# It is stratisfied because we have guaranteed that it represents 1% of each month not simply 1% of the year.
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [49]:
# Create a copy of the data frame
NYC_1Prct_df=combined_csv.copy(deep=True)
NYC_1Prct_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9D145B6BF31BAA44,electric_bike,2022-01-19 15:29:15,2022-01-19 15:50:38,Tompkins Ave & Hopkins St,4850.04,E 20 St & 2 Ave,5971.08,40.699576,-73.947084,40.735877,-73.982050,member
1,D85648D425D3A941,electric_bike,2022-01-26 16:38:14,2022-01-26 16:48:46,6 Ave & 12 St,3803.05,Grand Ave & Bergen St,4190.06,40.666318,-73.985462,40.678045,-73.962408,member
2,526FF90AC12FF6F1,classic_bike,2022-01-03 08:31:58,2022-01-03 08:34:57,W 42 St & 6 Ave,6517.08,W 47 St & 6 Ave,6667.04,40.754920,-73.984550,40.758397,-73.982550,member
3,E661187876A5E48D,classic_bike,2022-01-27 12:50:06,2022-01-27 13:12:56,Kent Ave & S 11 St,5062.01,St James Pl & Oliver St,5238.05,40.707645,-73.968415,40.713079,-73.998512,member
4,44A97975491D1AF6,classic_bike,2022-01-28 13:36:51,2022-01-28 13:46:33,Lafayette St & Jersey St,5561.06,1 Ave & E 16 St,5779.08,40.724561,-73.995653,40.732219,-73.981656,member

In [50]:
# examine the data frame to see the type of data it contains
NYC_1Prct_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306181 entries, 0 to 16444
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             306181 non-null  object
 1   rideable_type       306181 non-null  object
 2   started_at          306181 non-null  object
 3   ended_at            306181 non-null  object
 4   start_station_name  306181 non-null  object
 5   start_station_id    306181 non-null  object
 6   end_station_name    306181 non-null  object
 7   end_station_id      306181 non-null  object
 8   start_lat           306181 non-null  float64
 9   start_lng           306181 non-null  float64
 10  end_lat             306181 non-null  float64
 11  end_lng             306181 non-null  float64
 12  member_casual       306181 non-null  object
dtypes: float64(4), object(9)
memory usage: 32.7+ MB

---
### Transform the data

In [51]:
# change start time from a string to a datetime
NYC_1Prct_df['started_at'] = pd.to_datetime(NYC_1Prct_df['started_at'])

# change end time from a string to a datetime
NYC_1Prct_df['ended_at'] = pd.to_datetime(NYC_1Prct_df['ended_at'])

# Calculate a trip duration
NYC_1Prct_df['duration'] = NYC_1Prct_df['ended_at'] - NYC_1Prct_df['started_at']

# Convert the duration in datatime to an integer number of seconds
NYC_1Prct_df['duration'] = pd.to_timedelta(NYC_1Prct_df['duration']).astype('timedelta64[s]').astype(int)

# Create a start Day Of Week (DOW)
NYC_1Prct_df['start_DOW'] = NYC_1Prct_df['started_at'].dt.day_name()

# Create a end Day Of Week (DOW)
NYC_1Prct_df['end_DOW'] = NYC_1Prct_df['ended_at'].dt.day_name()

# Create a round trip T/F True if the start station ID == end station ID
NYC_1Prct_df['round_trip'] = NYC_1Prct_df['start_station_id'] == NYC_1Prct_df['end_station_id']

In [55]:
# check that everything is of the right dtype
NYC_1Prct_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306181 entries, 0 to 16444
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             306181 non-null  object
 1   rideable_type       306181 non-null  object
 2   started_at          306181 non-null  datetime64[ns]
 3   ended_at            306181 non-null  datetime64[ns]
 4   start_station_name  306181 non-null  object
 5   start_station_id    306181 non-null  object
 6   end_station_name    306181 non-null  object
 7   end_station_id      306181 non-null  object
 8   start_lat           306181 non-null  float64
 9   start_lng           306181 non-null  float64
 10  end_lat             306181 non-null  float64
 11  end_lng             306181 non-null  float64
 12  member_casual       306181 non-null  object
 13  duration            306181 non-null  int32
 14  start_DOW           306181 non-null  object
 15  end_DOW             306181 non-null  object
 16  round_trip          306181 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(4), int32(1), object(9)
memory usage: 38.8+ MB

In [52]:
NYC_1Prct_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration,start_DOW,end_DOW,round_trip
0,9D145B6BF31BAA44,electric_bike,2022-01-19 15:29:15,2022-01-19 15:50:38,Tompkins Ave & Hopkins St,4850.04,E 20 St & 2 Ave,5971.08,40.699576,-73.947084,40.735877,-73.982050,member,1283,Wednesday,Wednesday,False
1,D85648D425D3A941,electric_bike,2022-01-26 16:38:14,2022-01-26 16:48:46,6 Ave & 12 St,3803.05,Grand Ave & Bergen St,4190.06,40.666318,-73.985462,40.678045,-73.962408,member,632,Wednesday,Wednesday,False
2,526FF90AC12FF6F1,classic_bike,2022-01-03 08:31:58,2022-01-03 08:34:57,W 42 St & 6 Ave,6517.08,W 47 St & 6 Ave,6667.04,40.754920,-73.984550,40.758397,-73.982550,member,179,Monday,Monday,False
3,E661187876A5E48D,classic_bike,2022-01-27 12:50:06,2022-01-27 13:12:56,Kent Ave & S 11 St,5062.01,St James Pl & Oliver St,5238.05,40.707645,-73.968415,40.713079,-73.998512,member,1370,Thursday,Thursday,False
4,44A97975491D1AF6,classic_bike,2022-01-28 13:36:51,2022-01-28 13:46:33,Lafayette St & Jersey St,5561.06,1 Ave & E 16 St,5779.08,40.724561,-73.995653,40.732219,-73.981656,member,582,Friday,Friday,False

---
### Write out the transformed data set

In [54]:
# Save the data as a CSV file.
file_one = os.path.join('City_Bike_2022_TripData_augmented_1P.csv')      # define filename
NYC_1Prct_df.to_csv( file_one, index=False, encoding='utf-8-sig')