In [ ]:
# https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/

In [1]:
import os
import glob
import pandas as pd

In [2]:
os.chdir("./Data/New York_Data")

In [3]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [4]:
all_filenames

['JC-202201-citibike-tripdata.csv',
 'JC-202202-citibike-tripdata.csv',
 'JC-202203-citibike-tripdata.csv',
 'JC-202204-citibike-tripdata.csv',
 'JC-202205-citibike-tripdata.csv',
 'JC-202206-citibike-tripdata.csv',
 'JC-202207-citbike-tripdata.csv',
 'JC-202208-citibike-tripdata.csv',
 'JC-202209-citibike-tripdata.csv',
 'JC-202210-citibike-tripdata.csv',
 'JC-202211-citibike-tripdata.csv',
 'JC-202212-citibike-tripdata.csv']

In [5]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [17]:
raw_df=combined_csv
raw_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [18]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 895485 entries, 0 to 48584
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             895485 non-null  object
 1   rideable_type       895485 non-null  object
 2   started_at          895485 non-null  object
 3   ended_at            895485 non-null  object
 4   start_station_name  895475 non-null  object
 5   start_station_id    895475 non-null  object
 6   end_station_name    892281 non-null  object
 7   end_station_id      892281 non-null  object
 8   start_lat           895485 non-null  float64
 9   start_lng           895485 non-null  float64
 10  end_lat             893515 non-null  float64
 11  end_lng             893515 non-null  float64
 12  member_casual       895485 non-null  object
dtypes: float64(4), object(9)
memory usage: 95.6+ MB

In [19]:
dfbr= raw_df.dropna()

In [20]:
dfbr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 892281 entries, 0 to 48584
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             892281 non-null  object
 1   rideable_type       892281 non-null  object
 2   started_at          892281 non-null  object
 3   ended_at            892281 non-null  object
 4   start_station_name  892281 non-null  object
 5   start_station_id    892281 non-null  object
 6   end_station_name    892281 non-null  object
 7   end_station_id      892281 non-null  object
 8   start_lat           892281 non-null  float64
 9   start_lng           892281 non-null  float64
 10  end_lat             892281 non-null  float64
 11  end_lng             892281 non-null  float64
 12  member_casual       892281 non-null  object
dtypes: float64(4), object(9)
memory usage: 95.3+ MB

In [22]:
dfbr.to_csv( "City_Bike_2022_TripData.csv", index=False, encoding='utf-8-sig')