In [ ]:
# https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/

In [1]:
import os
import glob
import pandas as pd

In [2]:
# os.chdir("./Data/New York Data")
file_one = os.path.join('.','Data', 'New York Data', '202201-citibike-tripdata.csv') 
raw_df = pd.read_csv(file_one, encoding="utf-8")

C:\Users\jspinega\AppData\Local\Temp\ipykernel_16572\746386118.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv(file_one, encoding="utf-8")

In [3]:
raw_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052418 entries, 0 to 1052417
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1052418 non-null  object
 1   rideable_type       1052418 non-null  object
 2   started_at          1052418 non-null  object
 3   ended_at            1052418 non-null  object
 4   start_station_name  1052418 non-null  object
 5   start_station_id    1052418 non-null  object
 6   end_station_name    1043187 non-null  object
 7   end_station_id      1043187 non-null  object
 8   start_lat           1052418 non-null  float64
 9   start_lng           1052418 non-null  float64
 10  end_lat             1045920 non-null  float64
 11  end_lng             1045920 non-null  float64
 12  member_casual       1052418 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.4+ MB

In [5]:
dfbr= raw_df.dropna()

In [6]:
dfbr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043187 entries, 0 to 1052417
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1043187 non-null  object
 1   rideable_type       1043187 non-null  object
 2   started_at          1043187 non-null  object
 3   ended_at            1043187 non-null  object
 4   start_station_name  1043187 non-null  object
 5   start_station_id    1043187 non-null  object
 6   end_station_name    1043187 non-null  object
 7   end_station_id      1043187 non-null  object
 8   start_lat           1043187 non-null  float64
 9   start_lng           1043187 non-null  float64
 10  end_lat             1043187 non-null  float64
 11  end_lng             1043187 non-null  float64
 12  member_casual       1043187 non-null  object
dtypes: float64(4), object(9)
memory usage: 111.4+ MB

In [7]:
dfrbr = dfbr.sample(frac=0.01, replace=True, random_state=1)

In [8]:
dfrbr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10432 entries, 131792 to 354027
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             10432 non-null  object
 1   rideable_type       10432 non-null  object
 2   started_at          10432 non-null  object
 3   ended_at            10432 non-null  object
 4   start_station_name  10432 non-null  object
 5   start_station_id    10432 non-null  object
 6   end_station_name    10432 non-null  object
 7   end_station_id      10432 non-null  object
 8   start_lat           10432 non-null  float64
 9   start_lng           10432 non-null  float64
 10  end_lat             10432 non-null  float64
 11  end_lng             10432 non-null  float64
 12  member_casual       10432 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.1+ MB

In [22]:
dfbr.to_csv( "City_Bike_2022_TripData.csv", index=False, encoding='utf-8-sig')